* {
  margin: 0rem;
  padding: 0rem;

}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey; 
  border-radius: 30px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(68, 55, 55); 
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #352727; 
}

.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  width: 98%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border: 1px solid black;
  justify-content: space-between;
  position: fixed;
  top: 0rem;
  background-color: rgb(0, 36, 199);

}

.headerInput {
  width: 30rem;
}

.headerInput input {
  width: 100%;
  padding: 0.28rem;

}

.IconText {
  width: 11rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}

.headtext {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  font-size: medium;
}

.iconsbox {
  width: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.cursor {
  cursor: pointer;
}

.h3 {
  text-decoration: none;
  color: black;
  margin: auto;

}

.GridFrame {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 14px;
  grid-row-gap: 41px;
  margin: 5rem 1rem 1rem 1rem;
}

.Card {
  margin-top: 0px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: left;
  font-weight: bolder;
  color: black;
}

.roundedAvatar {
  border-radius: 500rem;
}

.title {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

.title img {
  margin-left: 0.2rem;
  margin-right: 0.8rem;
}

.watchlater {
  width: 98%;
  padding: 0.1rem;
  font-size: 15px;
  text-align: center;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 0.1rem;
  color: black;

}

.notification {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

/* .notification:hover {
  background: red;
} */

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 1px 6px;
  border-radius: 50%;
  background: white;
  color: black;
}

.WatcLaterFrame {
  display: grid;
  grid-template-columns: 19.4% 19.4% 19.4% 19.4% 19.4%;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  width: 98%;

}

.WatchVideoPage {
  margin: 4.7rem 2.8rem 1rem 6.1rem;
  display: flex;
  justify-content: space-between;

}

.left-section {
  text-align: left;
}

.right-section {
  width: fit-content;
  /* border: 1px solid black; */
  text-align: justify;
}


.chip {
  margin: 0.1rem;
  display: inline-block;
  padding: 0.5rem;
  font-size: 14px;
  line-height: 10px;
  font-weight: bolder;
  border-radius: 25px;
  background-color: grey;
  color: white;
}

.HistoryFrame {
  margin-left: 10.75rem;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 5rem;

}

.history-card {
  max-width: 35rem;
  margin-top: 0.5rem;
  /* border: 1px solid grey; */
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  font-weight: bolder;
  color: black;
}

.history-detail {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.history-card-watch {
  max-width: 24.5rem;
  margin-top: 0.5rem;
  /* border: 1px solid grey; */
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  font-weight: bolder;
  color: black;
}

.history-detail-watch {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.history-detail-watch {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
}
